@model IEnumerable<XamarinSA.Locator.Data.Models.Ambassador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </th>
        @*
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwitterHandle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacebookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkedInName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Blog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCertified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoUri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Biography)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GpsCoordinates)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TwitterHandle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FacebookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkedInName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCertified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoUri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventPage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Biography)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GpsCoordinates)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
